<h1>Review Your Order</h1>

<p><strong>Selected Plan:</strong> <%= @subscription.name %> ($<%= @subscription.price %>) - <%= @subscription.interval %></p>

<%= form_with model: @order, url: subscription_orders_path(@subscription.id), local: true do |f| %>

  <p>
    <%= f.label :headset_id, "Add a Headset (optional)" %><br>
    <%= f.collection_select :headset_id, @headsets, :id, :name, include_blank: true %>
  </p>

  <div class="field">
    <%= f.label :paid %>
    <%= f.check_box :paid %>
  </div>
  
  <%= f.submit "Continue to Payment", class: "btn btn-success" %>
<% end %>

</br>
<%= link_to "Back ", subscriptions_path, class: "btn btn-secondary mt-2" %>
