<h1>New Plan</h1>
<%= form_with model: @subscription, url: subscriptions_path do |f| %>
  <%= f.label :name %> <%= f.text_field :name %></br>
  <%= f.label :price %> <%= f.number_field :price, step: 0.01 %></br>
  <%= f.label :interval %> <%= f.text_field :interval %></br>
  <%= f.submit 'Create Plan' %>
<% end %>

<%= link_to "Back To Subscription", subscriptions_path %>

